body {
    color: #1a1a1a;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.6em;
    text-align: center;
    background: rgb(3, 255, 221);
    background: radial-gradient(circle, rgb(202, 185, 185) 0%, rgb(161, 164, 204) 100%);
  }
  

/* ul{

}
   */
li{

    --r: 25px; /* the radius */
    --t: 30px; /* the size of the tail */

    max-width: 300px;
    padding: calc(2*var(--r)/3);
    -webkit-mask: 
        radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
        var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
        conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
        calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
        radial-gradient(50% 50%,#000 98%,#0000 101%) 
        0 0/var(--r) var(--r) space padding-box;
    background: linear-gradient(135deg,#FE6D00,#1384C5) border-box;
    color: #fff;
    
    margin: auto;
}

.not-user{
    --_d: 0%;
    border-left: var(--t) solid #0000;
    /* margin-right: var(--t); */
    place-self: start;
    margin-left: 15%;

}

.user{
    --_d: 100%;
    border-right: var(--t) solid #0000;
    /* margin-left: var(--t); */
    margin-left: 62.5%;
    place-self: end;


}

.msg-container{
    padding: 10px;
}

#textBox{
    /* margin: auto; */
    /* margin-left: 10%; */
    margin-left: -10%;
    position: fixed;
    z-index: 1;
    color: #333;
    font-size: 1.3rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 20%;
    border-bottom: 0.3rem solid transparent;
}

